
<%- include("partials/header"); -%>
  <br><button class="btn btn-primary" onclick="window.location.href='/compose';">
      <i class="bi bi-pencil"></i> Compose  
    </button><br><br>

  <% posts.forEach(function(post){ %>

    <h3><%=post.title%></h3>
    <p>
    <%=post.content.substring(0, 250) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>

    <% }) %>


<%- include("partials/footer"); -%>
